:root {
  --background-color: #0f0f0f;
  --header-color: #151515;
  --footer-color: #0c0c0c;
  --gradient-color-1: #00d3ff;
  --gradient-color-2: #001eff;
  --text-color: #dadada;
  --selected-text-color: #aaa;
  --gradient: linear-gradient(to right, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
  --monospace-font: "Consolas"
}

/*----------------*/
/*--- Backbone ---*/
/*----------------*/

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  user-select: none;
  cursor: default;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--monospace-font), monospace;
  font-weight: 200;
  font-size: 15px;
}
main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
html { height: 100% }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*--------------*/
/*--- Header ---*/
/*--------------*/

header {
  width: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--header-color);
  padding: 5px;
  border-style: solid;
  border-image: var(--gradient) 1;
  border-width: 0;
  border-bottom-width: 3px;
  flex: 0 1 auto;
  text-wrap: nowrap;
}
header p#date-display { justify-self: center; margin: 0 }
header p#date-display.highlight { font-weight: bold }
header button#add-button { justify-self: left}
header button#close-button { justify-self: right}
header button:hover { color: var(--selected-text-color); cursor: pointer }
header button { background: none; color: var(--text-color); border: none; font-family: inherit; font-size: inherit; padding: 0}

/*--------------*/
/*--- Footer ---*/
/*--------------*/

footer {
  width: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  flex: 0 1 auto;
  background-color: var(--footer-color);
}
footer button {
  justify-self: center;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  background: none;
  color: var(--text-color);
  text-wrap: nowrap;
  border: none;
}
footer button:hover {
  cursor: pointer;
  color: var(--selected-text-color)
}
footer button.selected {
  background-image: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(0,0,0,0);
  text-decoration: none;
  cursor: default;
}

/*--------------*/
/*--- Dialog ---*/
/*--------------*/

dialog {
  border-style: solid;
  border-image: var(--gradient) 1;
  border-width: 3px;
  background-color: var(--header-color);
  color: var(--text-color);
  font-size: 14px;
  width: 160px;
  height: 80px;
  z-index: 100;
  padding: 8px;
}
dialog input {
  border: none;
  background: none;
  color: var(--selected-text-color);
  font: var(--monospace-font);
  margin: 0;
  padding: 0;
  width: 100px;
}
dialog input:focus {
  outline: none;
  text-decoration: none;
}
dialog label, dialog input {
  margin-bottom: 3px;
}
dialog button {
  background: none;
  color: var(--text-color);
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 2px 0 0 auto;
  display: block
}
dialog button:hover {
  color: var(--selected-text-color);
  cursor: pointer
}
.blurry {
  filter: blur(1px);
  pointer-events: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/*----------------*/
/*--- Calendar ---*/
/*----------------*/

#calendar td {
  text-align: center;
  padding: 2px;
  border-radius: 100px;
}
#calendar td.weekend {
  color: var(--selected-text-color)
}
#calendar td.gradient {
  background-image: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(0,0,0,0);
  font-weight: bold;
}
#calendar td.highlight {
  background-color: var(--text-color);
  color: var(--background-color);
}
#calendar td.highlight-gradient {
  background: var(--gradient);
  color: var(--text-color);
  font-weight: bold;
}